{% extends "microsite/base.html" %}
{% load microsite_tags wagtailcore_tags wagtailmetadata_tags %}

{% block extra_head %}
{{block.super}}
{% meta_tags %}
{% endblock extra_head %}

{% block body_class %}template-home{% endblock %}

{% block content %}

<img class="background-image" src="/static/img/dither-texture.png">

{% block_with_h1_exists_in_page page as h1_exists %}

{% if not h1_exists %}
<div class="{% get_layout_class_from_page %}">
  <h1>{{page.title}}</h1>
</div>
{% endif %}

{% for block in page.content %}
{% include_block block %}
{% endfor %}

{% if blog_feed_entries %}
<section class="blog-feed">
  <h4>The Latest Stories / <a href="https://blog.mozilla.org/l10n/" target="_blank" rel="noopener noreferrer">View all</a></h4>
  <ul>
    {% for entry in blog_feed_entries %}
    <li class="blog-entry">
      <div class="title">{{ entry.title }}</div>
      <div class="summary">{{ entry.summary }}</div>
      <div class="read-more">Read more</div>
      <a href="{{ entry.link }}" target="_blank" rel="noopener noreferrer">
        Read mode
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% endblock content %}
