{% extends "microsite/base.html" %}
{% load microsite_tags wagtailcore_tags wagtailmetadata_tags %}

{% block extra_head %}
  {{block.super}}
  {% meta_tags %}
{% endblock extra_head %}

{% block body_class %}template-product-landing-page{% endblock %}

{% block content %}

{% for block in page.content %}
  {# Breadcrumbs go after the hero unit #}
  {% include "microsite/partials/block_with_breadcrumbs_where_appropriate.html" %}
{% endfor %}

{% if search_results %}
  <ul class="tm-entries">
    {% for item in search_results %}
        <li class="tm-entry">
          <p class="source">{{ item.source|highlight:request.GET.search }}</p>
          <p class="target">{{ item.target|highlight:request.GET.search }}</p>
          {% if item.project %}
          <p class="project">
            {% if item.entity and not item.project_disabled %}
            <a href="https://pontoon.mozilla.org/projects/{{ item.project }}/all-resources/?string={{ item.entity }}">{{ item.project_name }}</a>
            {% else %}
            <span>{{ item.project_name }}</span>
            {% endif %}
          </p>
          {% endif %}
        </li>
    {% endfor %}
  </ul>
{% elif translation_error %}
  <div>
    <p>Error fetching translations: {{ translation_error }}</p>
  </div>
{% endif %}

{% endblock content %}
