{% extends "microsite/base.html" %}
{% load microsite_tags wagtailcore_tags wagtailmetadata_tags %}

{% block extra_head %}
  {{block.super}}
  {% meta_tags %}
{% endblock extra_head %}

{% block body_class %}template-product-landing-page{% endblock %}

{% block content %}

{% block_with_h1_exists_in_page page as h1_exists %}

{% if not h1_exists %}
<div class="{% get_layout_class_from_page %}">
  <h1>{{page.title}}</h1>
</div>
{% endif %}

{% if search_results %}
  <div>
    <h2>Translation Matches</h2>
    <dl class="mzp-u-list-styled">
      {% for item in search_results %}
          <br>
          <dt>{{ item.source }}</dt>
          <dd>{{ item.target }}</dd>
          {% if item.project.name %}
          <em>Project: {{ item.project.name }}</em>
          {% endif %}
          <br>
      {% endfor %}
    </dl>
  </div>
{% elif translation_error %}
  <div>
    <p>Error fetching translations: {{ translation_error }}</p>
  </div>
{% endif %}

{% for block in page.content %}
  {# Breadcrumbs go after the hero unit #}
  {% include "microsite/partials/block_with_breadcrumbs_where_appropriate.html" %}
{% endfor %}

{% endblock content %}
